/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        width: 100%;
        padding: 0;
    }

    /* Header*/

    header {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    #logo {
        font-size: 24px;
        padding: 25px;
        display: flex;
        justify-content: center;
    }

    nav {
        width: 100%;
        padding: 0;
    }

    nav .lien {
        width: 100%;
        gap: 0px;
        border-bottom: 2px solid #F2F2F2;
    }

    nav li {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    nav .lien-element {
        display: block;
        width: 100%;
        text-align: center;
    }

    .lien-element:hover::after {
        top: 35px;
    }

    /****** Search Hebergements ***********/

    .search-hebergement {
        margin: 0px;
        padding: 20px;
    }

    .search-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: stretch;
        border-top: 2px solid #F2F2F2;
        border-bottom: 2px solid #F2F2F2;
        border-radius: 15px;
    }

    #icone-location {
        border: none;
        width: 10%;
    }

    #search {
        border: none;
        width: 100%;
    }


    #search-submit .Rechercher {
        display: none;
    }

    #search-submit i.fa-magnifying-glass {
        display: inline;
        text-align: center;
    }

    #search-submit {
        width: 20%;
        border-radius: 15px 15px 15px 15px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #filtres {
        margin-top: 20px;
    }

    .filtres-liste {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        width: 100%;
        justify-content: center;
    }

    .filtres-title {
        font-size: 12px;
    }

    .info-filtres {
        padding: 15px 0px 15px 0px;
    }

    /* Hebergements and populaires*/

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
        width: 100%;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
    }

    /* Hebergements*/

    .hebergements {
        width: 100%;
    }

    .hebergements-cards a {
        width: 100%;
    }

    /* Populaires*/

    .populaires {
        width: 100%;
        margin-top: 0;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 100%;
    }

    /* Activités*/

    .activites {
        width: 100%;
    }

    .activites-cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .activites-cards .card {
        width: 100%;
    }

    .activites-cards a {
        width: 100%;
    }

    .activites-cards img {
        height: 140px;
        width: 100%;
    }

    /* Footer*/

    footer {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .footer-content {
        width: 100%;
        padding-left: 30px;
        box-sizing: border-box;
    }
}